  <div class="row">
    <div class="col-md-7">
      トップコンテンツここらへんに貼れたら
    </div>
    <div class="col-md-5" id="searchByArea">
      <p class="shop-search">ショップを探す</p>
      <div class="contents">
        <dl class="clearfix">
          <dt>
            北海道
          </dt>
          <dd>
            <ul>
              <li><a href="/area/hokkaido/">北海道</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/tohoku/">東北</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/aomori/">青森</a></li>
              <li><a href="/area/iwate/">岩手</a></li>
              <li><a href="/area/miyagi/">宮城</a></li>
              <li><a href="/area/akita/">秋田</a></li>
              <li><a href="/area/yamagata/">山形</a></li>
              <li><a href="/area/fukushima/">福島</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/kantou/">関東</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/tochigi/">栃木</a></li>
              <li><a href="/area/gunma/">群馬</a></li>
              <li><a href="/area/ibaraki/">茨城</a></li>
              <li><a href="/area/saitama/">埼玉</a></li>
              <li><a href="/area/chiba/">千葉</a></li>
              <li><a href="/area/tokyo/">東京</a></li>
              <li><a href="/area/kanagawa/">神奈川</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/koushinetsu/">甲信越</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/yamanashi/">山梨</a></li>
              <li><a href="/area/nagano/">長野</a></li>
              <li><a href="/area/nigata/">新潟</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/hokuriku/">北陸</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/toyama/">富山</a></li>
              <li><a href="/area/ishikawa/">石川</a></li>
              <li><a href="/area/fukui/">福井</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/tokai/">東海</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/shizuoka/">静岡</a></li>
              <li><a href="/area/gifu/">岐阜</a></li>
              <li><a href="/area/aichi/">愛知</a></li>
              <li><a href="/area/mie/">三重</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/kansai/">関西</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/shiga/">滋賀</a></li>
              <li><a href="/area/kyoto/">京都</a></li>
              <li><a href="/area/osaka/">大阪</a></li>
              <li><a href="/area/hyogo/">兵庫</a></li>
              <li><a href="/area/nara/">奈良</a></li>
              <li><a href="/area/wakayama/">和歌山</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/saninsanyo/">山陰・山陽</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/tottori/">鳥取</a></li>
              <li><a href="/area/shimane/">島根</a></li>
              <li><a href="/area/okayama/">岡山</a></li>
              <li><a href="/area/hiroshima/">広島</a></li>
              <li><a href="/area/yamaguchi/">山口</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/shikoku/">四国</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/tokushima/">徳島</a></li>
              <li><a href="/area/kagawa/">香川</a></li>
              <li><a href="/area/ehime/">愛媛</a></li>
              <li><a href="/area/kouchi/">高知</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/area/kyushu/">九州</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/area/fukuoka/">福岡</a></li>
              <li><a href="/area/saga/">佐賀</a></li>
              <li><a href="/area/nagasaki/">長崎</a></li>
              <li><a href="/area/kumamoto/">熊本</a></li>
              <li><a href="/area/oita/">大分</a></li>
              <li><a href="/area/miyazaki/">宮崎</a></li>
              <li><a href="/area/kagoshima/">鹿児島</a></li>
            </ul>
          </dd>
          <dt>
            沖縄
          </dt>
          <dd>
            <ul>
              <li><a href="/area/okinawa/">沖縄</a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div><!-- searchByArea -->
  </div>
