  <div class="row">
    <div class="col-md-7">
      トップコンテンツここらへんに貼れたら
    </div>
    <div class="col-md-5" id="searchByArea">
      <p class="shop-search">ショップを探す</p>
      <div class="contents">
        <dl class="clearfix">
          <dt>
            北海道
          </dt>
          <dd>
            <ul>
              <li><a href="/hokkaido/">北海道</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/tohoku/">東北</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/aomori/">青森</a></li>
              <li><a href="/iwate/">岩手</a></li>
              <li><a href="/miyagi/">宮城</a></li>
              <li><a href="/akita/">秋田</a></li>
              <li><a href="/yamagata/">山形</a></li>
              <li><a href="/fukushima/">福島</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/kantou/">関東</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/tochigi/">栃木</a></li>
              <li><a href="/gunma/">群馬</a></li>
              <li><a href="/ibaraki/">茨城</a></li>
              <li><a href="/saitama/">埼玉</a></li>
              <li><a href="/chiba/">千葉</a></li>
              <li><a href="/tokyo/">東京</a></li>
              <li><a href="/kanagawa/">神奈川</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/koushinetsu/">甲信越</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/yamanashi/">山梨</a></li>
              <li><a href="/nagano/">長野</a></li>
              <li><a href="/niigata/">新潟</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/hokuriku/">北陸</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/toyama/">富山</a></li>
              <li><a href="/ishikawa/">石川</a></li>
              <li><a href="/fukui/">福井</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/tokai/">東海</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/shizuoka/">静岡</a></li>
              <li><a href="/gifu/">岐阜</a></li>
              <li><a href="/aichi/">愛知</a></li>
              <li><a href="/mie/">三重</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/kansai/">関西</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/shiga/">滋賀</a></li>
              <li><a href="/kyoto/">京都</a></li>
              <li><a href="/osaka/">大阪</a></li>
              <li><a href="/hyogo/">兵庫</a></li>
              <li><a href="/nara/">奈良</a></li>
              <li><a href="/wakayama/">和歌山</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/saninsanyo/">山陰・山陽</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/tottori/">鳥取</a></li>
              <li><a href="/shimane/">島根</a></li>
              <li><a href="/okayama/">岡山</a></li>
              <li><a href="/hiroshima/">広島</a></li>
              <li><a href="/yamaguchi/">山口</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/shikoku/">四国</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/tokushima/">徳島</a></li>
              <li><a href="/kagawa/">香川</a></li>
              <li><a href="/ehime/">愛媛</a></li>
              <li><a href="/kochi/">高知</a></li>
            </ul>
          </dd>
          <dt>
            <a href="/kyushu/">九州</a>
          </dt>
          <dd>
            <ul>
              <li><a href="/fukuoka/">福岡</a></li>
              <li><a href="/saga/">佐賀</a></li>
              <li><a href="/nagasaki/">長崎</a></li>
              <li><a href="/kumamoto/">熊本</a></li>
              <li><a href="/oita/">大分</a></li>
              <li><a href="/miyazaki/">宮崎</a></li>
              <li><a href="/kagoshima/">鹿児島</a></li>
            </ul>
          </dd>
          <dt>
            沖縄
          </dt>
          <dd>
            <ul>
              <li><a href="/okinawa/">沖縄</a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div><!-- searchByArea -->
  </div>