<div class="row">
  <div class="col-md-4 left-container">
    <div class="pref-city-title"><%= "#{@ja_pref}#{@ja_city}" %>のダイビングショップ</div>
    <ul>
      <% @shop.each do |shop| %>
      <li>
        <%= link_to shop.name, shop_data_path(shop[:pref],shop[:city],shop[:id]) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-8 right-container">
  </div>
</div>
